In [1]:
cd /Users/jjobes/Desktop/Real_Estate

/Users/jjobes/Desktop/Real_Estate

In [2]:
import pandas as pd

Modeling_df = pd.read_csv('Pre_Processed_df.csv')

In [3]:
Modeling_df.head()

,Zip_Code,Year_Built,Total_Stories,Total_Building_Stories,Total_Parking_Spaces,Fireplaces,Total_Bedrooms,Total_Bathrooms,Style,EstSF,Lst Date,Sold Price Per SQFT,Price,Home Owner Fees
0,0,1987.0,3.0,0.0,0.0,0.0,2.0,3.0,1,1758,2001-02-22,964.16,1695000,430.0
1,0,1928.0,1.0,0.0,3.0,1.0,2.0,1.0,0,728,2013-06-11,1256.87,915000,0.0
2,0,1993.0,3.0,0.0,0.0,0.0,3.0,3.0,1,1586,2004-02-26,583.23,925000,200.0
3,0,1932.0,1.0,0.0,1.0,0.0,2.0,1.0,0,704,2013-01-30,1313.92,925000,0.0
4,0,1985.0,2.0,2.0,2.0,1.0,2.0,3.0,1,1209,2020-09-09,766.75,927000,400.0

In [4]:
Modeling_df.head()

,Zip_Code,Year_Built,Total_Stories,Total_Building_Stories,Total_Parking_Spaces,Fireplaces,Total_Bedrooms,Total_Bathrooms,Style,EstSF,Lst Date,Sold Price Per SQFT,Price,Home Owner Fees
0,0,1987.0,3.0,0.0,0.0,0.0,2.0,3.0,1,1758,2001-02-22,964.16,1695000,430.0
1,0,1928.0,1.0,0.0,3.0,1.0,2.0,1.0,0,728,2013-06-11,1256.87,915000,0.0
2,0,1993.0,3.0,0.0,0.0,0.0,3.0,3.0,1,1586,2004-02-26,583.23,925000,200.0
3,0,1932.0,1.0,0.0,1.0,0.0,2.0,1.0,0,704,2013-01-30,1313.92,925000,0.0
4,0,1985.0,2.0,2.0,2.0,1.0,2.0,3.0,1,1209,2020-09-09,766.75,927000,400.0

In [5]:
Modeling_df.shape

(94852, 14)

In [6]:
del Modeling_df['Lst Date']

In [7]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
import seaborn as sn
import matplotlib.pyplot as plt
import numpy as np

y = Modeling_df['Price']

X = Modeling_df.drop(['Price'], axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [8]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(66396, 12)
(66396,)
(28456, 12)
(28456,)

In [9]:
import sys
!{sys.executable} -m pip install xgboost

Requirement already satisfied: xgboost in /Users/jjobes/opt/anaconda3/lib/python3.8/site-packages (1.3.3)
Requirement already satisfied: numpy in /Users/jjobes/opt/anaconda3/lib/python3.8/site-packages (from xgboost) (1.18.5)
Requirement already satisfied: scipy in /Users/jjobes/opt/anaconda3/lib/python3.8/site-packages (from xgboost) (1.5.0)

In [10]:
conda install -c conda-forge xgboost

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /Users/jjobes/opt/anaconda3

  added / updated specs:
    - xgboost


The following NEW packages will be INSTALLED:

  python_abi         conda-forge/osx-64::python_abi-3.8-1_cp38

The following packages will be SUPERSEDED by a higher-priority channel:

  conda              pkgs/main::conda-4.10.1-py38hecd8cb5_1 --> conda-forge::conda-4.10.1-py38h50d1736_0


Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [11]:
conda update -n base -c defaults conda

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /Users/jjobes/opt/anaconda3

  added / updated specs:
    - conda


The following packages will be REMOVED:

  python_abi-3.8-1_cp38

The following packages will be UPDATED:

  conda              conda-forge::conda-4.10.1-py38h50d173~ --> pkgs/main::conda-4.10.1-py38hecd8cb5_1


Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [12]:
import xgboost
classifier = xgboost.XGBRegressor()
classifier.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=8, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [13]:
y_pred = classifier.predict(X_test)

In [14]:
y_pred

array([ 592943.9 , 1156422.8 ,  954798.75, ...,  799450.  , 1516430.4 ,
        552789.3 ], dtype=float32)

In [15]:
import numpy as np
from sklearn.metrics import mean_squared_error, mean_absolute_error

mean_squared_error(y_test, y_pred, squared=False)

35873.575314542475

In [16]:
mean_absolute_error(y_test, y_pred)

10261.73585466927

In [17]:
pd.DataFrame({'y_test': y_test,
            'y_pred': y_pred,
             'abs_err': abs(y_pred-y_test)}).describe()

             y_test        y_pred       abs_err
count  2.845600e+04  2.845600e+04  2.845600e+04
mean   6.630695e+05  6.626701e+05  1.026172e+04
std    5.813602e+05  5.761926e+05  3.437510e+04
min    1.900000e+03  2.537479e+04  1.718750e-01
25%    3.199000e+05  3.187234e+05  2.590359e+03
50%    4.950000e+05  4.953048e+05  5.745953e+03
75%    7.850000e+05  7.818569e+05  1.130398e+04
max    1.650000e+07  1.170945e+07  4.790546e+06

In [18]:
classifier.feature_importances_

array([3.1501654e-04, 3.7661864e-04, 3.5665079e-04, 4.5149928e-04,
       5.9743837e-04, 3.7898580e-04, 5.5205319e-03, 1.8773336e-03,
       1.1292537e-02, 4.3853053e-01, 5.3984910e-01, 4.5379068e-04],
      dtype=float32)

In [19]:

feature_names = X_test.columns.values

feature_importance = pd.DataFrame({'feature_name': feature_names,
                                   'feature_importance': classifier.feature_importances_})

feature_importance.sort_values(by='feature_importance', ascending=False)

              feature_name  feature_importance
10     Sold Price Per SQFT            0.539849
9                    EstSF            0.438531
8                    Style            0.011293
6           Total_Bedrooms            0.005521
7          Total_Bathrooms            0.001877
4     Total_Parking_Spaces            0.000597
11         Home Owner Fees            0.000454
3   Total_Building_Stories            0.000451
5               Fireplaces            0.000379
1               Year_Built            0.000377
2            Total_Stories            0.000357
0                 Zip_Code            0.000315

In [20]:
Modeling_df['Price'].describe()

count    9.485200e+04
mean     6.602859e+05
std      5.887800e+05
min      1.000000e+00
25%      3.150000e+05
50%      4.900000e+05
75%      7.780000e+05
max      1.800000e+07
Name: Price, dtype: float64

In [21]:
# considering the mean housing price is 660,000, a MAE of 10,261 and RMSE of 35,873
# is a good solution!